<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>
    <main>
      <div class="main-content bg-purple">
        <div class="container py-5">
          <h1 class="mb-3">About</h1>
          <div class="profile-container">
            <div class="profile-header">
              <img src="profile.png" alt="Anna Maulina's Photo" class="profile-photo">
              <h1>Anna Maulina</h1>
              <p>Mahasiswa Sistem Informasi (2023) - Universitas Trunojoyo Madura</p>
            </div>
            <profile-section
              title="About Me"
              content="Halo! Saya Anna Maulina, seorang mahasiswa Sistem Informasi angkatan 2023 di Universitas Trunojoyo Madura. Saat ini saya sedang mendalami pengembangan front-end web. Saya telah menyelesaikan <strong>learning path Front-End Web Developer</strong> di Dicoding. Saya antusias untuk terus belajar dan mengasah kemampuan saya di dunia pengembangan web."
            ></profile-section>
            <profile-section
              title="Skills"
              content="<ul><li>HTML</li><li>CSS</li><li>JavaScript</li></ul>"
            ></profile-section>
            <profile-section
              title="Contact"
              content="
                <p>Email: <a href='mailto:annamaulina14@gmail.com'>annamaulina14@gmail.com</a></p>
                <p>Phone: +62-857-0674-2578</p>
                <p>GitHub: <a href='https://github.com/annamaulina654' target='_blank'>github.com/annamaulina654</a></p>"
            ></profile-section>
          </div>
        </div>
      </div>
    </main> 
    <footer>
      <div class="main-footer bg-primary">
        <div class="container px-3 py-4">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>
  </body>
</html>
