<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>
    <main>
      <div class="main-content bg-purple">
        <div class="container py-5">
          <h1 class="mb-3">Dashboard</h1>
          <div class="row mb-5 g-3">
            <div class="col-12 col-sm-6">
              <card-dashboard
              id="totalStory-card"
              content="0 Cerita"
              description="Total Cerita"
              classes="h-100 bg-yellow text-bg-white bg-gradient"
            ></card-dashboard>
            </div>
            <div class="col-12 col-sm-6">
              <card-dashboard
              id="newStory-card"
              content="0 Cerita"
              description="Cerita Terbaru"
              classes="h-100 bg-yellow text-bg-white bg-gradient"
            ></card-dashboard>
          </div>
        </div>
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <h1>List Story</h1>
            <button-link
              classes="btn-yellow text-capitalize"
              to="/transactions/add.html"
              icon="bi-plus-lg"
              content="Tambah Cerita"
            ></button-link>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div id="transactionCards">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  <footer>
    <div class="main-footer bg-primary">
      <div class="container px-3 py-4">
        <footer-app></footer-app>
      </div>
    </div>
  </footer>
  <modal-transaction
    title="ListStory"
    class="modal fade"
    id="recordDetailModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
  ></modal-transaction>
  </body>
</html>
